*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #ffadad;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card
{
    background-color: antiquewhite;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}
.head
{
    position:absolute;
    margin-top: 40px;
}
.clk
{
    position: relative;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background-color: rgb(237, 137, 137);
    margin-top: 200px;
    text-align: center;
}
/* .clk:hover
{
    position: relative;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background-color: black;
    margin-top: 200px;
} */
.word
{
    color:antiquewhite;
    font-size: 40px;
}
.doge
{
    margin-top: 20px;
}
.btn
{
    position: absolute;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ffadad;
    transform: translateY(100px);
}
.pass
{
    position: absolute;
    transform: translateY(120px);
}
.e1
{
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transform: translate(20px,100px);
}
.e2
{
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transform: translate(230px,100px);
}